.file{
	background-image: url(/img/file.jpg);
	background-size: cover;
}
.file button{
	background: transparent;
    background-color: rgba(0,0,0,0.1);
    margin-top: 10px;
}
.download p{
    font: 30px;
    color: gray;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;   

}
.share p{
    font: 30px;
    color: gray;
    padding: 10px;
    padding-right: 53px;
    padding-left: 53px; 


}
.clear{
	clear: both;
}
.down-content{
	
}
.down-content input{
	width: 800px;
	height: 25px;
	background-color: rgba(0,0,0,0.6);
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.8);
	color: white;
}
.down-content button{
	border: 1px solid gray;
	border-radius: 10%;
	color: gray;
	margin-left: 20px;
}
.share-content{
	margin-top: 20px;
	color: gray;
}
.share-content input{
	
	background-color: rgba(0,0,0,0.3);
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.8);
}
.file-input{
	margin-bottom: 10px;
	margin-left: -100px;
	margin-right: 40px;
}
.num{
	width: 35px;
	color: white;
}
.prev{
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
}
.head{
	color: gray;
	font-size: 30px;
}

.entry table{
	width: 1200px;
	background-color: rgba(0,0,0,0.6);
    color: gray;
}
.upload-button{
	border: 1px solid gray;
	border-radius: 10%;
	color: gray;
	margin-left: 20px;
	background-color: rgba(0,0,0,0.5);
	padding-right: 10px;
	padding-left: 10px;
	padding: 5px;
}
.share_friend{
	background-color: rgba(0,0,0,0.5);
	border: none;
	color: white;
	border-bottom: rgba(0,0,0,0.6);
	width: 300px;
	height: 15px;
}
