.live{
	background-image: url(/img/live.jpg);
	background-size: cover;
}
.streams{
	float: right;
	margin-right: 20px;
}
.stream-heading{
	font-size: 25px;
	color: gray;
	margin-right: 50px;
}
.stream-content{
	margin-top: 10px;
	max-height: 500px;
	width: 400px;

	overflow-y: scroll; 
	padding: 10px;
}
.stream-box{
	float: left;
	display: inline;
	margin: 5px;
	width: 180px;
	background-color: rgba(0,0,0,0.6);
	
}
.stream-img{
	padding-top: 30px;
	background-color: rgba(0,0,0,0.6);
	width: 180px;
	height: 180px;
}
.stream-title p{
	font-size: 13px;
	color: gray;
	padding-top: 3px;
	
}
.video-title{
	font-size: 20px;
}