.media{
	background-image: url(/img/media.jpg);
	background-size: cover;
}
.video{
	margin-left: 40px;
	width: 857px;
	float: left;
	display: inline;
}
.video-title{
	color: white;
	font-size: 30px;
	float: left;
	margin-left: 5px;
}
.des{
	color: gray;
	font-size: 15px;
	float: left;
    text-align: left;
}
.video-list{
	width: 400px;
    float: right;
    display: inline;
    margin-right: 20px;
    margin-top: 30px;
    max-height: 600px;

    overflow-y: scroll;
    
}
.video-entry{
	cursor: pointer;
	background-color: #373a47;
	border: 1px solid gray;
	padding: 5px;
	height: 80px;
	margin-bottom: 10px;
	border-top: none;
	border-bottom: none;
	border-right: none;
	overflow: hidden;
}
.video-entry img{

}
.video-list-head{
	font: 30px;
	float: left;
	padding: 8px;
}
.video-image{
	display: inline;
	float: left;
	width: 100px;
	height: 80px;
	background-color: rgba(0,0,0,0.6);
	overflow: hidden;
}
.video-des{
	float: left;
	margin-left: 15px;
}
.video-des-head{
	font-size: 12px;
	color: white;
	float: left;
	word-wrap: break-word;
	width: 250px;
}
.video-des-des{
	font-size: 12px;
	color: white;
	
}
.upload-btn input{
    color: white;
    float: right;
    background: gray;
    border: none;

}
.video-upload{
    color: white;
    float: right;
    background: transparent;
    border: 1px solid gray;
    border: none;
    font-size: 16px;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding: 2px;
}